NODE_ENV=development
MESX_NET_NAME=mesx-net

SERVER_TIMEOUT=108000
SERVER_PORT=3000
APP_CONTAINER_PORT=30100
SERVER_HTTP_PORT=3001
APP_CONTAINER_PORT=30900

SERVER_NAME=user-service
SERVICE_NAME=user-service
COMPOSE_PROJECT_NAME=pirelli

API_PATH=/api/v1/users
INTERNAL_TOKEN=t5AQ1il1FtOk6Pp9FEW0VbwYETYqqseisgvo0ZCchayvvsQYFSkNzP7bNZ7vEFr0B1Hd4Ft3KGls1q2Irc20Yv1juslgTgtP4lavfeFiw7qBDDzw5D5Y7vMxoIfkpEqcViZqcPy3K2TCOqzCVGAQjJ4bvmX01xeCqILT5ewBd7fL3hZ4jBlSYmbiIefVIiRzeFhWCYOuVpS4Ng4lPcEBvUorm5zlLAci65UKdKtoXbPtWp2A1jrE5D

CONSUL_HOST=consul
CONSULPORT=8500
CONSUL_TOKEN=46566662-b68f-8ef2-64f1-0145f533b156

KONG_HOST=http://kong
KONG_PORT=8001

# db local
DATABASE_TYPE=postgres
DATABASE_POSTGRES_HOST=postgres
DATABASE_POSTGRES_PORT=5432
DATABASE_POSTGRES_USERNAME=postgres
DATABASE_POSTGRES_PASSWORD=postgres
DATABASE_NAME=user_service_db
DATABASE_CONNECTION_TIME_OUT=150000
DATABASE_ACQUIRE_TIME_OUT=150000
DATABASE_CONNECTION_LIMIT=20

## redis
REDIS_PORT=6379
REDIS_CONTAINER_PORT=6379
REDIS_HOST=redis_cache
REDIS_PASSWORD=snp123456

## queue
QUEUE_ATTEMP=5
QUEUE_BACKOFF=5000
QUEUE_RETRY_PROCESS_DELAY=5000

RABBITMQ_CONNECTION='amqp://admin:snp2021213@rabbitmq:5672'
RABBITMQ_HOST='rabbitmq'
RABBITMQ_PORT=5672
